.dockerignore
.env
.env.backup
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Dockerfile
Homestead.json
Homestead.yaml
docker-compose.yml
npm-debug.log
yarn-error.log
